<div class="w-50 bg-secondary rounded-3 p-4 text-light">
    <h1>Formulario de Inicio de Sesión</h1>
    <form method="POST" action="/login" autocomplete="off">
        <label for="email" class="form-label mt-4">Correo Electrónico</label>
        <input type="email" name="email" required class="form-control" placeholder="Escribe aquí tu dirección de correo electrónico..."/>

        <label for="password" class="form-label mt-4">Contraseña</label>
        <input type="password" name="password" required class="form-control" placeholder="Escribe aquí tu contraseña..."/>

        <button type="submit" class="btn btn-light mt-4">Iniciar Sesión</button>
        <a class="btn btn-light mt-4" href="/signup">Registrarse</a>
    </form>
</div>