<div class="w-50 bg-success text-light rounded-3 d-flex justify-content-between align-items-center px-3">
    <span class="h2">Bienvenido "{{email}}"!</span>
    <a href="/logout" class="h-25 btn btn-warning">Desconectar</a>
</div>